%h1 Inbox
.row.msgs-panel
	.col-md-10
		.panel.panel-default
			.panel-body
				.row
					.col-md-12.full-box
						.row.row-eq-height
							=render partial: 'messages/partials/leftmenu', :locals => { :box => 'inbox' }    
							.col-md-9.right-side
								.right-side-list.full-message
									%li
										.row
											.col-md-10
												.message-header											
													%h4.message-subject=message.subject											
													%p.message-from=message.sender.name											
													%p.message-time=message.created_at.to_formatted_s :full_datetime
											.col-md-2		
												.icons
												= link_to icon('reply', "|", id: 'reply', class: 'icon'), reply_message_path(message)
												= link_to icon('trash', "", id: 'trash', class: 'icon'), trash_message_path(message),:method=> :post
										.row
											.col-md-12
												.message-body
													%p=new_message_body
	


									
		

-# %h2 Inbox
-# %ul= render collection: mailbox.inbox, partial: 'conversation'
-# %h2 Sentbox
-# %ul= render collection: mailbox.sentbox, partial: 'conversation'
-# %h2 Trash
-# = link_to "Empty Trash", empty_trash_path, data: {confirm: 'Are you sure?'}
-# %ul= render collection: mailbox.trash, partial: 'conversation'

-# = link_to 'Start Conversation', :new_conversation
