%h1 Inbox
.row.msgs-panel
	.col-lg-10
		.panel.panel-default
			.panel-body
				.row
					.col-sm-12.full-box
						.row.row-eq-height
							.col-xs-3.left-side-top
								.new-msg-button
									%button.btn.btn-primary.btn-lg.btn-block
										%span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
										=link_to 'New Message', :new_conversation, :class => 'button-link'
									%hr
								.left-side-list
									%h4
										%li=link_to 'Inbox', :new_conversation, :class => ''
										%li=link_to 'Sent', :new_conversation, :class => ''
										%li=link_to 'Trash', :new_conversation, :class => ''			
							.col-xs-9.right-side
								.right-side-list
									%ul= render collection: mailbox.inbox, partial: 'conversation'

'									
		

-# %h2 Inbox
-# %ul= render collection: mailbox.inbox, partial: 'conversation'
-# %h2 Sentbox
-# %ul= render collection: mailbox.sentbox, partial: 'conversation'
-# %h2 Trash
-# = link_to "Empty Trash", empty_trash_path, data: {confirm: 'Are you sure?'}
-# %ul= render collection: mailbox.trash, partial: 'conversation'

-# = link_to 'Start Conversation', :new_conversation
