- model_class = Request
.page-header
	%h1= "Passenger's Bookings"
.col-lg-8
	- if @passenger_bookings.blank?
		%h3 You do not have any rides please join one!
	- @passenger_bookings.each do |p|
		.panel.panel-default.p.ride-box
			.panel-heading.clearfix
				.h3.pull-left{ :style => "margin-top: 0.5em;" }	
					=p.ride.source
					.span.glyphicon.glyphicon-arrow-right
					=p.ride.destination
				.btn.pull-right{ :style => "padding-top: 0.5em;" }	
					=link_to "Message Driver", new_message_conversation_path(p.ride.user_id), :class => 'btn btn-success btn-md'
			.panel-body
				.row
					.col-sm-5
						%h4=p.ride.leaving_date.to_formatted_s :short_ordinal 
						%h4=p.ride.leaving_time.to_formatted_s :time_12_hour
					.col-sm-7
						%h4 
							%stong Driver Name: 
							=p.ride.driver
						%h4 
							%stong Spots Taken:
							=p.ride.spots_taken	
						%h4 
							%stong Spots Available:
							=p.ride.spots_available-p.ride.spots_taken

				.row.bottom
					.col-sm-5			
						%h4 
							%b Price:
							=number_to_currency(p.ride.price)
					.col-sm-7
						%h4	Description:
						%p=p.ride.description
			
