 @import "bootstrap-sprockets";
 @import 'bootstrap';
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import 'bootstrap-datetimepicker';
 @import 'rides';
 @import 'requests';
 @import 'convos';
 @import 'messages';



 @font-face {
   font-family: 'Glyphicons Halflings';
   src: url(asset_path('glyphicons-halflings-regular.eot'));
   src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), url(asset_path('glyphicons-halflings-regular.woff')) format('woff'), url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'), url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
 }

 .row-eq-height {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
 }