@import 'partials/flatUIColors';
@import 'partials/myColors';
@import 'mixins/convos';

$link-color: #262626;

.msgs-panel{
	ul,li{
		list-style-type: none;
	}

	height:100%;
	padding-top:1rem;

	.full-box{
		padding-left: 2.6rem;
		padding-right: 2.6rem;
	}

	.left-side-top{
		background-color: $msg_left_gray;
		border: 1px solid #ccc;

		hr{
			padding: 0;
			margin-top: 0.8rem;
			margin-bottom: -0.10rem;
			border-top: 1px solid $hr_color;
			border-bottom: 1px solid rgba($hr_color, 0.5);
		}

		.new-msg-button{
			margin-top: 1rem;
			background-color: $msg_left_gray;
			width: 100%;

			span.glyphicon{
				vertical-align:middle;
				margin-left: 0rem;
				padding-right: 0.5rem;
			}	

			a.button-link{
				vertical-align:middle;
				color: white;
				text-decoration: none;	
			}
		}

		
		li{
			&:hover {
			    background-color:$hover_gray;
			    border-bottom: 1px solid #ececec;
			    @include box-overflow($hover_gray, 1.5rem);
			}
			position: relative; 
			padding-left: 0.5rem;
			border-bottom: 1px solid #ececec;
			padding-top: 1rem;
			padding-bottom: 1rem;

			a{
				display: block;
				color: $link-color;
				text-decoration: none;	
				margin-bottom: -0.6rem;
			}

		}
	}//left-side

	.right-side{
		@extend .left-side-top;
		
		ul{
			margin:0;
			padding:0;
		}

		border: none;
		background-color: $msg_left_gray;	
		padding-left: 2rem;
		padding-right: 2rem;
		margin-left:0;
	}

}