.ride-box{
	h1, h2, h3, h4{
		margin: 0;
		padding: 0;
	}

	h4{
		padding-bottom: 0.35rem;
	}

	.bottom h4{
		padding-top: 0.5rem;
	}

}

.search-box{
	h3{
		margin: 0;
		padding: 0;
		text-align: center;
	}
}

textarea {
    resize: none;
}

.need-top-padding{
	padding-top: 1.4rem;
}