.col-md-3.left-side-top
	.new-msg-button
		=link_to :new_conversation, :class => 'button btn btn-primary btn-lg btn-block' do
			%span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
			New Message
		%hr
	.left-side-list
		%h4
			%li
				=link_to 'Inbox', conversations_inbox_path
				=cp(conversations_inbox_path).html_safe if box=='inbox'
			%li
				=link_to 'Sent', conversations_sent_path
				=cp(conversations_sent_path).html_safe if box=='sent'
			%li
				=link_to 'Trash', conversations_trash_path
				=cp(conversations_trash_path).html_safe if box=='trash'

